<ion-header>

  <ion-navbar>
    <ion-title>Add a Record</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" #recordName></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input type="number" #recordAmount (change)="recordAmountChange()"></ion-input>
    </ion-item>
    <!-- Buyer -->
    <ion-card>
      <ion-list >
        <ion-item-divider color="light">
          <ion-row>
            <ion-col col-10>
              <b>Who Bought</b><br>
              <div class="membLable" *ngFor="let bu of getFinalBuyerNameList()">{{bu.memberName}}</div> 
            </ion-col>
            <ion-col col-2>
              <button input ion-button icon-only small [outline]="!showBuyer" (click)="showBuyer=!showBuyer">
                <ion-icon [name]="!showBuyer?'arrow-dropup':'arrow-dropdown'"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-divider>
        <ion-item *ngFor="let memb of (walletUsers | async); let index = index;" [hidden]="showBuyer" style="padding-left: 0px">
          <ion-grid item-content>
            <ion-row [ngStyle]="{'opacity':checkIfBuyer(index)?'1':'0.3'}">

                  <ion-col col-5>
                    <ion-label>
                      {{memb.name}}
                    </ion-label>
                  </ion-col>
                  <ion-col col-3>
                    <ion-item style="padding-left: 0px">
                      <ion-input #buyerAmountInput type="number" text-right (change)="buyerAmountChange(index)" style="padding-left: 0px"></ion-input>
                    </ion-item>
                  </ion-col>

              <ion-col col-4>
                <button ion-button icon-only outline color="danger" style="float:right" [ngStyle]="{'border-color':finalBuyerList[index].fixed?'#32db64':'#488aff','color':finalBuyerList[index].fixed?'#32db64':'#488aff'}" (click)="lockBuyer(index)">
                    <ion-icon [name]="finalBuyerList[index].fixed?'lock':'unlock'"></ion-icon>
                  </button>
                <button #buyerAmountCheck ion-button icon-only outline style="float:right" [ngStyle]="{'border-color':checkIfBuyer(index)?'#32db64':'#488aff','color':checkIfBuyer(index)?'#32db64':'#488aff','opacity':'1'}" (click)="activateBuyer(memb.id,index)">
                  <ion-icon name="checkmark" [ngStyle]="{'opacity':checkIfBuyer(index)?'1':'0.3'}"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
    <!-- PAYER -->
    <ion-card>
      <ion-list >
        <ion-item-divider color="light">
          <ion-row>
            <ion-col col-10>
              <b>Who has to Pay</b><br>
              <div class="membLable" *ngFor="let pa of getFinalPayerNameList()">{{pa.memberName}}</div> 
            </ion-col>
            <ion-col col-2>
              <button input ion-button icon-only small [outline]="!showPayer" (click)="showPayer=!showPayer">
                <ion-icon [name]="!showPayer?'arrow-dropup':'arrow-dropdown'"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-divider>
        <ion-item *ngFor="let memb of (walletUsers | async); let index = index;" [hidden]="showPayer" style="padding-left: 0px">
          <ion-grid item-content>
            <ion-row [ngStyle]="{'opacity':checkIfPayer(index)?'1':'0.3'}">
              
                  <ion-col col-5>
                    <ion-label>
                      {{memb.name}}
                    </ion-label>
                  </ion-col>
                  <ion-col col-3>
                    <ion-item style="padding-left: 0px">
                      <ion-input #payerAmountInput type="number" text-right (change)="payerAmountChange(index)" style="padding-left: 0px"></ion-input>
                    </ion-item>
                  </ion-col>
              <ion-col col-4>
                <button ion-button icon-only outline color="danger" style="float:right" [ngStyle]="{'border-color':finalPayerList[index].fixed?'#32db64':'#488aff','color':finalPayerList[index].fixed?'#32db64':'#488aff'}" (click)="lockPayer(index)">
                  <ion-icon [name]="finalPayerList[index].fixed?'lock':'unlock'"></ion-icon>
                </button>
                <button #payerAmountCheck ion-button icon-only outline style="float:right" [ngStyle]="{'border-color':checkIfPayer(index)?'#32db64':'#488aff','color':checkIfPayer(index)?'#32db64':'#488aff','opacity':'1'}" (click)="activatePayer(memb.id,index)">
                  <ion-icon name="checkmark" [ngStyle]="{'opacity':checkIfPayer(index)?'1':'0.3'}"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
    
  </ion-list>
  <div padding>
    <button block ion-button (click)="addRecord()">{{!isLoaded?"Add Record":"Update Record"}}</button>
  </div>
</ion-content>




    <!--
          <ion-range [(ngModel)]="memb.paysAmount" disabled="{{memb.pays}}">
                    <ion-icon range-left small name="cash"></ion-icon>
                  </ion-range>


          
          <ion-list item-content *ngFor="let memb of (walletUsers | async); let index = index;">
          <ion-item>
            <ion-label>{{memb.id}}</ion-label>
            <ion-checkbox [(ngModel)]="memb.pays"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-range [(ngModel)]="memb.paysAmount">
                <ion-icon range-left small name="cash"></ion-icon>
              </ion-range>
          </ion-item>
        </ion-list> -->
