<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let group of groups | async" (click)="showGroup(group.id,group.name)"> 
    <ion-card-header>
      {{group.name}}
    </ion-card-header>
    <ion-card-content>
      Admin: 
      <!-- <p *ngFor="let admin of group.admins">{{admin.name}}</p> -->
      
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab mini (click)="newGroup()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
